{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    "transform-regenerator",
    "transform-object-rest-spread"
  ]
}
